<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="'navigation'"
      mode="side"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        style="outline: none;"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="raleway-text">Service Portal 🚀</span>
        <span class="spacer"></span>
        <ul>
          <li *ngIf="!isAuthenticated">
            <a mat-button routerLink='/auth/login' routerLinkActive='mat-accent'>Login</a>
          </li>
          <li *ngIf="!isAuthenticated">
            <a mat-button routerLink='/auth/signup' routerLinkActive='mat-accent'>Sign up</a>
          </li>
          <li *ngIf="isAuthenticated">
            <a mat-button routerLink='/events' routerLinkActive='mat-accent'>Events</a>
          </li>
          <li *ngIf="isAuthenticated">
            <a mat-button [routerLink]="'/user/' + userId + '/profile'" routerLinkActive='mat-accent'>Profile</a>
          </li>
          <li *ngIf="isAuthenticated">
            <a mat-button (click)="logout()">Logout</a>
          </li>
          <li>
            <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </li>
        </ul>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
